* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image/fon1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

h1 {
    font-family: 'Monotype Corsiva';
    font-size: 24pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

img {
    margin-left: 10%;
}

p {
    display: block;
    background-color: #cfdb26;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
    border: 5px solid grey;
    margin-left: 10%;
}

.container { 
    display: flex; 
    margin-top: 20px;
}